.hero {
    padding: 131px 152px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: space-between;
}

.hero-content h1 {
    font-size: 60px;
    font-weight: 800;
    line-height: 74px;
    letter-spacing: -0.03em;
    max-width: 646px;
}

.hero-content p {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: rgba(100, 96, 125, 1);
    max-width: 446px;
    margin-top: 19px;
    margin-bottom: 47px;
}

.hero-btn-group {
    display: flex;
    align-items: center;
    gap: 50px;
}

.hero-btn-group button {
    padding: 15px 36px;
    background: rgba(55, 52, 169, 1);
    color: white;
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.02em;
    border-radius: 47px;
    border: none;
    cursor: pointer;
}

.work-play-btn {
    display: flex;
    align-items: center;
    gap: 11px;
}

.work-play-btn button {
    padding: 17px 18px;
    display: flex;
    border-radius: 50%;
    background: rgba(34, 212, 151, 1);
}

.work-play-btn span {
    font-size: 17px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: rgba(55, 52, 169, 1);
}

.hero-form h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: rgba(55, 52, 169, 1);
    margin-bottom: 22px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

form input {
    width: 356px;
    padding: 14px 208px 14px 14px;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: -0.02em;
    background: white;
    border: 1px solid rgba(223, 228, 241, 1);
    outline: none;
    border-radius: 5px;
}

input::placeholder {
    color: rgba(100, 96, 125, 1);
    opacity: 0.4;
}

form button {
    padding: 15px 125px;
    border-radius: 5px;
    background: rgba(255, 127, 92, 1);
    border: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    color: white;
    cursor: pointer;
}

.bigDesign {
    position: absolute;
    right: 0;
    z-index: -1;
    top: 0;
}

.firstSmall {
    position: absolute;
    left: 0;
    z-index: -1;
    top: 64px;
}

.secondSmall {
    position: absolute;
    left: 0;
    z-index: -1;
    top: 580px;
}